* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.yellow-star {
    color: #FFD700;
}

.black-star {
    color: #000000;
}

.img-animation {
    animation: moveUpDown 2s ease-in-out infinite alternate;   
}

@keyframes moveUpDown {
    0% {
      transform: translateY(-5px);
    }
    100% {
      transform: translateY(5px);
    }
  }
  